NODE_ENV=production
PORT=4000

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change_this_strong_password
DB_NAME=boutique

# Générer une valeur aléatoire longue: openssl rand -base64 48
JWT_SECRET=change_this_to_a_long_random_secret

CORS_ORIGINS=https://votredomaine.com,http://localhost:5173
